<%- include('partials/_header') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="containero">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card ">
                    
                    <div class="card-body col-md-12">
                      
                        <div class="col-md-10" style="margin:0 auto">
                            <form class="row g-3" action="/negocio/add" method="post">
                              <div class="card-header bg-dark text-white d-flex pt-3">
                                <div class="col-9"><h5>Información - General</h5></div>
                                
                                <label for="inputAddress2" name="fech" id="fech" class="form-label text-white">Fecha:</label>
                                    <input type="hidden" class="form-control bg-dark text-white" name="fecha" id="fecha" disabled readonly>
                                  
                            </div>
                            
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label text-black">Razón social</label>
                                    <input type="text" class="form-control" name="razon_social" id="razon_social" value="<%= ng.razon_social %>" placeholder="Ingrese la razón social" disabled>
                                  </div>
                                  
                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">RNC</label>
                                    <input type="text" class="form-control" name="rnc" id="rnc" value="<%= ng.rnc %>" placeholder="Ingrese RNC"  disabled>
                                  </div>

                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">Cantidad de sucursales</label>
                                    <input type="text" class="form-control" name="cant_sucursales" id="cant_sucursales" value="<%= ng.cant_sucursales %>"  disabled>
                                  </div>

                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">Red social</label>
                                    <input type="text" class="form-control" name="red_social" id="red_social" value="<%= ng.red_social %>"  placeholder="ingrese red social" disabled>
                                  </div>

                                  <div class="card-header mt-5 pt-3">
                                    <h5>Información Bancaria</h5>
                                </div>
                                  <div class="col-md-4">
                                    <label for="inputEmail4" class="form-label text-black">Banco</label>
                                    <select class="form-control" name="banco" id="banco" disabled>
                                      <option value="0">Seleccione</option>
                                        <% if(ban) {%>
                                          <% for(var i =0;i < ban.length;i++){ 
                                            if(ban[i].id_banco == ng.id_banco){%>
                                            <option selected value="<%= ban[i].id_banco %>"><%= ban[i].nombre %></option>
                                            <% }else { %>
                                              <option value="<%= ban[i].id_banco %>"><%= ban[i].nombre %></option>
                                             
                                           <% }
                                          } %>
                                          <% } %>
                                     </select>
                                  </div>
                               
                               <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Tipo de cuenta</label>
                                <select class="form-control" name="tipo_cuenta" id="tipo_cuenta" disabled>
                                   <option value="0">Seleccione</option>

                                   <% if (ng.banco_tipo_cuenta == "Ahorro"){%>
                                    <option value="Ahorro" selected>Ahorro</option>
                                   <option value="Corriente">Corriente</option>
                                    <% }else{%>
                                      <option value="Ahorro">Ahorro</option>
                                      <option value="Corriente" selected>Corriente</option>
                                     <%}%>

                                 </select>
                              </div>

                              <div class="col-4">
                                <label for="inputAddress2" class="form-label text-black">Número de Cuenta débito</label>
                                <input type="text" class="form-control" name="cuenta_debito" id="cuenta_debito" value="<%= ng.cuenta_debito %>" placeholder="ingrese cuenta de débito" disabled>
                              </div>

                              <div class="col-4">
                                <label for="inputAddress2" class="form-label text-black">Número Cuenta crédito</label>
                                <input type="text" class="form-control" name="cuenta_credito" id="cuenta_credito" value="<%= ng.cuenta_credito %>" placeholder="ingrese cuenta de crédito" disabled>
                              </div>

                              
                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Frecuencia de pago via Cheques</label>
                                <select class="form-control" name="frecuencia" id="frecuencia" disabled>
                                   <option value="0">Seleccione</option>
                                   <% if (ng.frecuencia_pago_cheque == "Semanal"){%>
                                    <option value="Semanal" selected>Semanal</option>
                                   <option value="Quincenal">Quincenal</option>
                                   <option value="Mensual">Mensual</option>
                                   <option value="Trimestral">Trimestral</option>
                                   <% }else if (ng.frecuencia_pago_cheque == "Quincenal"){%>
                                    <option value="Semanal">Semanal</option>
                                   <option value="Quincenal" selected>Quincenal</option>
                                   <option value="Mensual">Mensual</option>
                                   <option value="Trimestral">Trimestral</option>
                                   <% }else if (ng.frecuencia_pago_cheque == "Mensual"){%>
                                    <option value="Semanal">Semanal</option>
                                   <option value="Quincenal">Quincenal</option>
                                   <option value="Mensual" selected>Mensual</option>
                                   <option value="Trimestral">Trimestral</option>
                                   <% }else if (ng.frecuencia_pago_cheque == "Trimestral"){%>
                                    <option value="Semanal">Semanal</option>
                                   <option value="Quincenal">Quincenal</option>
                                   <option value="Mensual">Mensual</option>
                                   <option value="Trimestral" selected>Trimestral</option>
                                     <%}%>

                                 </select>
                              </div>

                              <div class="col-4">
                                <label for="inputAddress2" class="form-label text-black">Número de Cuenta acreedor</label>
                                <input type="text" class="form-control" name="sap_acreedor" id="sap_acreedor" value="<%= ng.sap_acreedor %>" placeholder="ingrese cuenta acreedor" disabled>
                              </div>

                              <div class="col-4">
                                <label for="inputAddress2" class="form-label text-black">Número Cuenta deudor</label>
                                <input type="text" class="form-control" name="sap_deudor" id="sap_deudor" value="<%= ng.sap_deudor %>" placeholder="ingrese cuenta deudor" disabled>
                              </div>

                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Tipo de afiliación</label>
                                <select class="form-control" name="tipo_afiliacion" id="tipo_afiliacion" disabled>
                                  <option value="0">Seleccione</option>
                                    <% if(ta) {%>
                                      <% for(var i =0;i < ta.length;i++){ 
                                        if(ta[i].id_tipo_afiliacion == ng.id_tipo_afiliacion){%>
                                        <option selected value="<%= ta[i].id_tipo_afiliacion %>"><%= ta[i].tipo_afiliacion %></option>
                                        <% }else { %>
                                          <option value="<%= ta[i].id_tipo_afiliacion %>"><%= ta[i].tipo_afiliacion %></option>
                                         
                                       <% }
                                      } %>
                                      <% } %>
                                 </select>
                              </div>

                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Pagos electrónicos</label>
                                <select class="form-control" name="pago_electronico" id="pago_electronico" disabled>
                                  <option value="0">Seleccione</option>
                                    <% if(pe) {%>
                                      <% for(var i =0;i < pe.length;i++){ 
                                        if(pe[i].id_pago_electronico == ng.id_pago_electronico){%>
                                        <option selected value="<%= pe[i].id_pago_electronico %>"><%= pe[i].tipo_pago_electronico %></option>
                                        <% }else { %>
                                          <option value="<%= pe[i].id_pago_electronico %>"><%= pe[i].tipo_pago_electronico %></option>
                                         
                                       <% }
                                      } %>
                                      <% } %>
                                 </select>
                              </div>


                              <div class="card-header mt-5 bg-dark text-white">
                                <h5>Sucursal - Principal</h5>
                            </div>
                            
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Nombre sucursal</label>
                              <input type="text" class="form-control" name="nombre_sucursal" id="nombre_sucursal" placeholder="Ingrese el nombre de la sucursal" required>
                            </div>

                            
                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Apertura</label>
                              <input type="time" class="form-control" name="apertura" id="apertura" placeholder="ingrese la hora que abre" required>
                            </div>

                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Cierre</label>
                              <input type="time" class="form-control" name="cierre" id="cierre" placeholder="ingrese la hora que cierra" required>
                            </div>

                            


                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Categoria</label>
                                <select class="form-control" name="categoria" id="categoria" required>
                                   <option value="0">Seleccione</option>
                                   <% if(cat) {%>
                                    <% for(var i =0;i < cat.length;i++){ %>
                                      <option value="<%= cat[i].id_categoria %>"><%= cat[i].categoria %></option>
                                       
                                     <% } %>
                                    <% } %>
                                 </select>
                              </div>


                            
                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Provincia</label>
                              <select class="form-control" name="provincia" id="provincia" required>
                                 <option value="0">Seleccione</option>
                                <% if(prov) {%>
                                  <% for(var i =0;i < prov.length;i++){ %>
                                    <option value="<%= prov[i].id_provincia %>"><%= prov[i].provincia %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Municipio</label>
                              <select class="form-control" name="municipio" id="municipio" required>
                                 
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Sector</label>
                              <select class="form-control" name="sector" id="sector" required>
                                 
                               </select>
                            </div>

                            <div class="col-md-8">
                              <label for="inputPassword4" class="form-label text-black">Dirección</label>
                              <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ejemplo: 'C/principal #22'" required>
                            </div>  

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Código postal</label>
                              <input type="text" class="form-control" name="codigo_postal" id="codigo_postal" placeholder="ingrese código postal" required>
                            </div>
                            
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Referencia 1</label>
                              <input type="text" class="form-control" name="referencia1" id="referencia1" placeholder="ingrese referencia de la ubicación" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Referencia 2</label>
                              <input type="text" class="form-control" name="referencia2" id="referencia2" placeholder="ingrese referencia de la ubicación" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Referencia 3</label>
                              <input type="text" class="form-control" name="referencia3" id="referencia3" placeholder="ingrese referencia de la ubicación" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Geo localización</label>
                              <input type="text" class="form-control" name="geo" id="geo" placeholder="ingrese el link de la ubicación" required>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Ejecutivo interno</label>
                              <select class="form-control" name="ejecutivointerno" id="ejecutivointerno" required>
                                 <option value="0">Seleccione</option>
                                <% if(ejec) {%>
                                  <% for(var i =0;i < ejec.length;i++){ %>
                                    <option value="<%= ejec[i].id_empleado %>"><%= ejec[i].ejecutivointerno %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Ejecutivo externo</label>
                              <select class="form-control" name="externo" id="externo" required>
                                 <option value="0">Seleccione</option>
                                <% if(externo) {%>
                                  <% for(var i =0;i < externo.length;i++){ %>
                                    <option value="<%= externo[i].id_ejecutivo %>"><%= externo[i].nombre %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>


                            
                            <div class="card-header mt-5">
                              <h5>Sucursal - Contacto</h5>
                          </div>
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Teléfono</label>
                              <input type="text" class="form-control" name="tel_sucursal" id="tel_sucursal" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="ingrese código postal" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Fax</label>
                              <input type="text" class="form-control" name="fax_sucursal" id="fax_sucursal" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="ingrese código postal" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Email</label>
                              <input type="email" class="form-control" name="email_sucursal" id="email_sucursal" placeholder="ingrese correo electrónico" required>
                            </div>
                            <div class="card-header mt-5">
                              <h5>Sucursal - Configuración</h5>
                          </div>
                          <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Código fidelium</label>
                              <input type="text" class="form-control" name="codigo_fidelium" id="codigo_fidelium" placeholder="ingrese código fidelium" required>
                            </div>
                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Cantidad de lectores</label>
                              <input type="number" class="form-control" name="cantidad_lectores" id="cantidad_lectores" placeholder="0" required>
                            </div>
                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Descuento reduccion</label>
                              <input type="number" class="form-control" name="descuento_reduccion" id="descuento_reduccion" placeholder="0" required>
                            </div>

                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Descuento otorgado</label>
                              <input type="number" class="form-control" name="descuento_otorgado" id="descuento_otorgado" placeholder="0" required>
                            </div>

                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Límite de piso</label>
                              <input type="number" class="form-control" name="limite_piso" id="limite_piso" placeholder="0" required>
                            </div>
                            <div class="d-table">
                            <div class="row" id="afiliadoid">
                                                                                 

                          </div>
                          <div class="col-4 pt-4">
                            <button type="button" id="addid" class="btn btn-primary">Agregar Afiliado</button>
                              
                            </div>
                        </div>

                              <div class="card-header mt-5 bg-dark text-white pt-3">
                                <h5><strong>Sucursal - Personal responsable</strong></h5>
                            </div>
                            <div class="row mt-2" id="responsable">
                            <div class="col-md-8">
                              <label for="inputPassword4" class="form-label text-black">Nombre</label>
                              <input type="text" class="form-control" name="nombre_persona" id="nombre_persona" placeholder="Nombre y apellido">
                            </div>  

                            <div class="col-md-4">
                              <label for="inputPassword4" class="form-label text-black">Cargo</label>
                              <input type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo que Ocupa">
                            </div> 

                            <div class="col-md-4 mt-2">
                              <label for="inputPassword4" class="form-label text-black">Cédula</label>
                              <input type="text" class="form-control" name="cedula" id="cedula" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="000-0000000-0">
                            </div> 

                            <div class="col-md-4 mt-2">
                              <label for="inputPassword4" class="form-label text-black">Celular</label>
                              <input type="text" class="form-control" name="tel_persona" id="tel_persona" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="000-000-0000">
                            </div> 

                            <div class="col-md-4 mt-2">
                              <label for="inputPassword4" class="form-label text-black">Correo</label>
                              <input type="email" class="form-control" name="email_persona" id="email_persona" placeholder="ingrese correo">
                            </div> 

                            </div>

                            <div class="col-4 pt-4">
                              <button id="responsableBtn" class="btn btn-primary">Agregar responsable</button>
                              
                            </div>


                              
                         
                               <div class="col-12 pt-5">
                                 <button type="submit" class="btn btn-primary">GUARDAR</button>
                               </div>

                             </form>
                           </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



<script >


function handleNacionalidad() {
  console.log("ID: ");
  
  $.get("/empleado", function (data) {
      var municipios = data.municipios;

  });

}

function handleProvincia(e) {
  console.log("ID: ", e.target.value);

  $.get("/form-data/municipios?provincia=" + e.target.value, function (data) {
      var municipios = data.municipios;

     console.log(municipios)
  });
}

function handleMunicipio(e) {
  console.log("ID: ", e.target.value);

  $.get("/form_data/municipio/" + e.target.value, function (data) {
      console.log(data)
      var municipio = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=0>Seleccione el municipio</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_municipio+">"+data[i].municipio+"</option>";
              console.log(data[i]);                    
        }

      var elementMunicipio = document.getElementById("municipio");
      elementMunicipio.innerHTML = html;


      
  });
}

function handleSector(e) {
  //console.log("ID: ", e.target.value);

  $.get("/form_data/sector/" + e.target.value, function (data) {
      //console.log(data)
      var sector = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=0>Seleccione el sector</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_sector+">"+data[i].sector+"</option>";
              //console.log(data[i]);                    
        }

      var elementSector = document.getElementById("sector");
      elementSector.innerHTML = html;


      
  });
}

function handleEncargado(e) { // el id que llega es el id del departamento
  console.log("ID: ", e.target.value);

  $.get("/form_data/encargado/" + e.target.value, function (data) {
      //console.log(data)
      var sector = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=0>Seleccione el encargado</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_empleado+">"+data[i].nombres+" "+data[i].apellidos+"</option>";
              //console.log(data[i]);                    
        }

      var elementEncargado = document.getElementById("encargado");
      elementEncargado.innerHTML = html;
      
  });
}

function fechaActual(){
  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  return  day + "/" + month + "/" + year;
  
}

function handleMask(event, mask) {
    with (event) {
        stopPropagation()
        preventDefault()
        if (!charCode) return
        var c = String.fromCharCode(charCode)
        if (c.match(/\D/)) return
        with (target) {
            var val = value.substring(0, selectionStart) + c + value.substr(selectionEnd)
            var pos = selectionStart + 1
        }
    }
    var nan = count(val, /\D/, pos) // nan va calcolato prima di eliminare i separatori
    val = val.replace(/\D/g,'')

    var mask = mask.match(/^(\D*)(.+9)(\D*)$/)
    if (!mask) return // meglio exception?
    if (val.length > count(mask[2], /9/)) return

    for (var txt='', im=0, iv=0; im<mask[2].length && iv<val.length; im+=1) {
        var c = mask[2].charAt(im)
        txt += c.match(/\D/) ? c : val.charAt(iv++)
    }

    with (event.target) {
        value = mask[1] + txt + mask[3]
        selectionStart = selectionEnd = pos + (pos==1 ? mask[1].length : count(value, /\D/, pos) - nan)
    }

    function count(str, c, e) {
        e = e || str.length
        for (var n=0, i=0; i<e; i+=1) if (str.charAt(i).match(c)) n+=1
        return n
    }
}

document.getElementById("addid").click = function(e) {
    console.log("pongo id");
  };

  function eliminar_elemento(e){
    let del = confirm("¿Deseas eliminar éste afiliado?");
    if(del){
      e.parentNode.parentNode.removeChild(e.parentNode);
      // e.remove();
    }
}
window.addEventListener('load', function() {
  // $(":input").inputmask();
  //const nacionalidad = document.getElementById("nacionalidad");
  //$("#fecha").val(fechaActual());name="fecha" id="fecha"
  document.getElementById("fecha").value = new Date().toLocaleDateString();
  document.getElementById("fech").innerHTML = "Fecha: " + new Date().toLocaleDateString();
  
  if(document.getElementById("provincia")){
  document.getElementById("provincia").onchange = function(e) {
    handleMunicipio(e);
  };
}
  if(document.getElementById("municipio")){
  document.getElementById("municipio").onchange = function(e) {
    handleSector(e);
  };
}

  
  
  let p = document.getElementById("addid"); // Encuentra el elemento "p" en el sitio
  p.onclick = afiliadoAdd; // Agrega función onclick al elemento
    
  function afiliadoAdd(evento) {
    evento.preventDefault();
    
    let boton = '<div class="col-2 pt-2 delete"><a onclick="eliminar_elemento(this);">&times;</a><label for="inputAddress2" class="form-label text-black">Afiliado</label><input type="number" class="form-control" name="afiliado" id="afiliado" placeholder="0" required></li></div>';
    document.getElementById('afiliadoid').insertAdjacentHTML("beforeend",boton); 
    //alert("Evento onclick ejecutado!"+evento);
  }

  let pr = document.getElementById("responsableBtn"); // Encuentra el elemento "p" en el sitio
  pr.onclick = agregaResponsable; // Agrega función onclick al elemento
    
  function agregaResponsable(evento) {
    evento.preventDefault();
    // alert('funciona')   
    html ='<div class="row"><div class="card-header mt-5">';
    html +='<h5>Sucursal - Personal Responsable</h5> ';
    html +='</div><a class="text-end" onclick="eliminar_elemento(this);">X</a>';
    html +='<div class="col-md-8 col-md-4 ">';
    html +='<label for="inputPassword4" class="form-label text-black">Nombre</label>';
    html +='<input type="text" class="form-control" name="nombre_persona" id="nombre_persona" placeholder="Nombre y apellido">';
    html +='</div>';  

    html +='<div class="col-md-4">';
      html +='<label for="inputPassword4" class="form-label text-black">Cargo</label>';
      html +='<input type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo que Ocupa">';
      html +='</div> ';

      html +='<div class="col-md-4 mt-2">';
        html +='<label for="inputPassword4" class="form-label text-black">Cédula</label>';
        html +='<input type="text" class="form-control" name="cedula" id="cedula" onkeypress="handleMask(event, "999-999-9999")" size=13  placeholder="000-0000000-0">';
        html +='</div> ';

        html +='<div class="col-md-4 mt-2">';
          html +='<label for="inputPassword4" class="form-label text-black">Celular</label>';
          html +='<input type="text" class="form-control" name="tel_persona" id="tel_persona" onkeypress="handleMask(event, "999-999-9999")" size=13  placeholder="000-000-0000">';
          html +='</div> ';

          html +='<div class="col-md-4 mt-2">';
            html +='<label for="inputPassword4" class="form-label text-black">Correo</label>';
            html +='<input type="email" class="form-control" name="email_persona" id="email_persona" placeholder="ingrese correo">';
            html +='</div> </div>';

    document.getElementById('responsable').insertAdjacentHTML("beforeend",html);
    //alert("Evento onclick ejecutado!"+evento);
  }

  

});
</script>



<%- include('partials/_footer') %>