<%- include('partials/_header') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="containero">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card ">
                    
                    <div class="card-body col-md-12">
                      
                        <div class="col-md-10" style="margin:0 auto">
                            <form class="row g-3" action="/negocio/add" method="post">
                              <div class="card-header bg-dark text-white d-flex pt-3">
                                <div class="col-9"><h5>Información - General</h5></div>
                                
                                <label for="inputAddress2" name="fech" id="fech" class="form-label text-white">Fecha:</label>
                                    <input type="hidden" class="form-control bg-dark text-white" name="fecha" id="fecha" required >
                                  
                            </div>
                            
                                <div class="col-8">
                                    <label for="inputAddress2" class="form-label text-black">Razón social<strong style="color: red;">*</strong></label>
                                    <input type="text" class="form-control" name="razon_social" id="razon_social" maxlength="150" placeholder="Ingrese la razón social"  required>
                                  </div>
                                  
                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">RNC</label>
                                    <input type="text" class="form-control" name="rnc" id="rnc" maxlength="20" placeholder="Ingrese RNC">
                                  </div>

                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">Cantidad de sucursales<strong style="color: red;">*</strong></label>
                                    <input type="text" class="form-control" name="cant_sucursales" id="cant_sucursales" maxlength="11"  required>
                                  </div>

                                  
                              <div class="col-4 d-none">
                                <label for="inputAddress2" class="form-label text-black">SAP acreedor</label>
                                <input type="text" class="form-control" name="sap_acreedor" id="sap_acreedor" maxlength="25" placeholder="ingrese cuenta acreedor">
                              </div>

                              <div class="col-4 d-none">
                                <label for="inputAddress2" class="form-label text-black">SAP deudor</label>
                                <input type="text" class="form-control" name="sap_deudor" id="sap_deudor" maxlength="25" placeholder="ingrese cuenta deudor">
                              </div>

                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Tipo de afiliación<strong style="color: red;">*</strong></label>
                                <select class="form-control" name="tipo_afiliacion" id="tipo_afiliacion" required>
                                  <option value="">Seleccione</option>
                                 
                                  <% if(ta) {%>
                                    <% for(var i =0;i < ta.length;i++){ %>
                                      <option value="<%= ta[i].id_tipo_afiliacion %>"><%= ta[i].tipo_afiliacion %></option>
                                       
                                     <% } %>
                                    <% } %>
                                   
                                 </select>
                              </div>

                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Pagos electrónicos<strong style="color: red;">*</strong></label>
                                <select class="form-control" name="pago_electronico" id="pago_electronico" required>
                                  <option value="">Seleccione</option>
                                 
                                  <% if(pe) {%>
                                    <% for(var i =0;i < pe.length;i++){ %>
                                      <option value="<%= pe[i].id_pago_electronico %>"><%= pe[i].tipo_pago_electronico %></option>
                                       
                                     <% } %>
                                    <% } %>
                                   
                                 </select>
                              </div>

                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">Red social</label>
                                    <input type="text" class="form-control" name="red_social" id="red_social"  maxlength="255" placeholder="ingrese red social">
                                  </div>   
                                  
                                  <div class="col-4">
                                    <label for="inputAddress2" class="form-label text-black">Fecha vencimiento (Registro mercantil)<strong style="color: red;">*</strong></label>
                                    <input class="form-control" type="date" name="fecha_vencimiento_rm" id="fecha_vencimiento_rm" required>
                                  </div>
                              
                                  <div class="card-header mt-5 pt-3">
                                    <h5>Productos</h5>
                                </div>
                                      <div class="d-table">
                                      <div class="row" id="productoid">
                                        <% if(prod) {%>
                                          <% for(var k =0;k < prod.length;k++){ %>
                                            <% if(prod_ng.find( producto => producto.id_producto === prod[k].id_producto )){ %>
                                            <div class="form-check mx-4">
                                              <input class="form-check-input" name="producto" type="checkbox" value="<%= prod[k].id_producto %>" id="<%= prod[k].producto %>" checked>
                                              <label class="form-check-label" for="<%= prod[k].producto %>">
                                                <%= prod[k].producto %>
                                              </label>
                                            </div>
                                            <% } else{%>
                                              <div class="form-check mx-4">
                                                <input class="form-check-input" name="producto" type="checkbox" value="<%= prod[k].id_producto %>" id="<%= prod[k].producto %>">
                                                <label class="form-check-label" for="<%= prod[k].producto %>">
                                                  <%= prod[k].producto %>
                                                </label>
                                              </div>
                                          <% }
                                        } %>
                                    <% } %>                                                
          
                                    </div>
                             
                                  </div>


                              <div class="card-header mt-5 bg-dark text-white">
                                <h5>Sucursal - Principal</h5>
                            </div>
                            
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Nombre sucursal <strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="nombre_sucursal" id="nombre_sucursal" maxlength="150" placeholder="Ingrese el nombre de la sucursal" required>
                            </div>

                            
                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Apertura<strong style="color: red;">*</strong></label>
                              <input type="time" class="form-control" name="apertura" id="apertura" placeholder="ingrese la hora que abre" required>
                            </div>

                            <div class="col-2">
                              <label for="inputAddress2" class="form-label text-black">Cierre<strong style="color: red;">*</strong></label>
                              <input type="time" class="form-control" name="cierre" id="cierre" placeholder="ingrese la hora que cierra" required>
                            </div>

                            


                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label text-black">Categoria<strong style="color: red;">*</strong></label>
                                <select class="form-control" name="categoria" id="categoria" required>
                                   <option value="">Seleccione</option>
                                   <% if(cat) {%>
                                    <% for(var i =0;i < cat.length;i++){ %>
                                      <option value="<%= cat[i].id_categoria %>"><%= cat[i].categoria %></option>
                                       
                                     <% } %>
                                    <% } %>
                                 </select>
                              </div>


                            
                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Provincia<strong style="color: red;">*</strong></label>
                              <select class="form-control" name="provincia" id="provincia" required>
                                 <option value="">Seleccione</option>
                                <% if(prov) {%>
                                  <% for(var i =0;i < prov.length;i++){ %>
                                    <option value="<%= prov[i].id_provincia %>"><%= prov[i].provincia %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Municipio<strong style="color: red;">*</strong></label>
                              <select class="form-control" name="municipio" id="municipio" required>
                                 
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Sector<strong style="color: red;">*</strong></label>
                              <select class="form-control" name="sector" id="sector" required>
                                 
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputPassword4" class="form-label text-black">Dirección<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="direccion" id="direccion" maxlength="256" placeholder="Ejemplo: 'C/principal #22'" required>
                            </div>  
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Geo localización<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" onclick="funcionInit()" name="geo" id="geo" onkeypress="handleMask(event, '|||||')" placeholder="Presione aqui para agregar la ubicación" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Código postal</label>
                              <input type="text" class="form-control" name="codigo_postal" id="codigo_postal" placeholder="ingrese código postal" required readonly>
                            </div>
                            
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Referencia 1<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="referencia1" id="referencia1" maxlength="256" placeholder="ingrese referencia de la ubicación" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Referencia 2</label>
                              <input type="text" class="form-control" name="referencia2" id="referencia2" maxlength="256" placeholder="ingrese referencia de la ubicación">
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Referencia 3</label>
                              <input type="text" class="form-control" name="referencia3" id="referencia3" maxlength="256" placeholder="ingrese referencia de la ubicación">
                            </div>

                            
                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Ejecutivo interno<strong style="color: red;">*</strong></label>
                              <select class="form-control" name="ejecutivointerno" id="ejecutivointerno" required>
                                 <option value="">Seleccione</option>
                                <% if(ejec) {%>
                                  <% for(var i =0;i < ejec.length;i++){ %>
                                    <option value="<%= ejec[i].id_empleado %>"><%= ejec[i].ejecutivointerno %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Ejecutivo de banco</label>
                              <select class="form-control" name="externo" id="externo">
                                 <option value="0">Seleccione</option>
                                <% if(externo) {%>
                                  <% for(var i =0;i < externo.length;i++){ %>
                                    <option value="<%= externo[i].id_ejecutivo %>"><%= externo[i].nombre+" - "+externo[i].nombre_empresa %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Ejecutivo de pago</label>
                              <select class="form-control" name="ejecutivo_pago" id="ejecutivo_pago">
                                 <option value="0">Seleccione</option>
                                <% if(pago) {%>
                                  <% for(var i =0;i < pago.length;i++){ %>
                                    <option value="<%= pago[i].id_ejecutivo %>"><%= pago[i].nombre+" - "+pago[i].nombre_empresa %></option>
                                     
                                   <% } %>
                                  <% } %>
                               </select>
                            </div>


                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Zona<strong style="color: red;">*</strong></label>
                              <select class="form-control" name="zona" id="zona" required>
                                 <option value="">Seleccione</option>
                                  <% if(zon) {%>
                                    <% for(var i =0;i < zon.length;i++){  %>
                                        <option value="<%= zon[i].id_zona %>"><%= zon[i].zona %></option>
                                     <% } %>
                                    <% } %>
                               </select>
                            </div>

                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Sub-zona<strong style="color: red;">*</strong></label>
                              <select class="form-control" name="subzona" id="subzona">
                                <option value="">Seleccione</option>
                                
                               </select>
                            </div>


                            
                            <div class="card-header mt-5">
                              <h5>Sucursal - Contacto</h5>
                          </div>
                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Teléfono<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="tel_sucursal" id="tel_sucursal" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="ingrese código postal" required>
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Fax</label>
                              <input type="text" class="form-control" name="fax_sucursal" id="fax_sucursal" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="ingrese código postal">
                            </div>

                            <div class="col-4">
                              <label for="inputAddress2" class="form-label text-black">Email</label>
                              <input type="email" class="form-control" name="email_sucursal" id="email_sucursal" maxlength="150" placeholder="ingrese correo electrónico">
                            </div>
                            <div class="card-header mt-5">
                              <h5>Sucursal - Configuración</h5>
                          </div>
                          <div class="col-4 d-none">
                              <label for="inputAddress2" class="form-label text-black">Código fidelium</label>
                              <input type="text" class="form-control" name="codigo_fidelium" id="codigo_fidelium" maxlength="10" placeholder="ingrese código fidelium">
                            </div>
                            <div class="col-3">
                              <label for="inputAddress2" class="form-label text-black">Cantidad de lectores</label>
                              <input type="number" class="form-control" name="cantidad_lectores" id="cantidad_lectores" maxlength="11" placeholder="0">
                            </div>

                            <div class="col-3">
                              <label for="inputAddress2" class="form-label text-black">Descuento otorgado</label>
                              <input type="number" class="form-control" name="descuento_otorgado" id="descuento_otorgado" maxlength="11" placeholder="%">
                            </div>
                            
                            <div class="col-3">
                              <label for="inputAddress2" class="form-label text-black">Descuento redención</label>
                              <input type="number" class="form-control" name="descuento_reduccion" id="descuento_reduccion" maxlength="11" placeholder="%">
                            </div>

                            
                            <div class="col-3">
                              <label for="inputAddress2" class="form-label text-black">Límite de piso</label>
                              <input type="number" class="form-control" name="limite_piso" id="limite_piso" placeholder="0" maxlength="11">
                            </div>

                            <div class="card-header mt-5 pt-3">
                              <h5>Información Bancaria</h5>
                          </div>
                            <div class="col-md-4">
                              <label for="inputEmail4" class="form-label text-black">Banco</label>
                              <select class="form-control" name="banco" id="banco">
                                <option value="">Seleccione</option>
                               
                                <% if(ban) {%>
                                  <% for(var i =0;i < ban.length;i++){ %>
                                    <option value="<%= ban[i].id_banco %>"><%= ban[i].nombre %></option>
                                     
                                   <% } %>
                                  <% } %>
                                 
                               </select>
                            </div>
                         
                         <div class="col-md-4">
                          <label for="inputEmail4" class="form-label text-black">Tipo de cuenta</label>
                          <select class="form-control" name="tipo_cuenta" id="tipo_cuenta">
                             <option value="">Seleccione</option>
                             <option value="Ahorro">Ahorro</option>
                             <option value="Corriente">Corriente</option>
                           </select>
                        </div>

                        <div class="col-md-4">
                          <label for="inputEmail4" class="form-label text-black">Frecuencia de pago via cheques</label>
                          <select class="form-control" name="frecuencia" id="frecuencia">
                             <option value="">Seleccione</option>
                             <option value="Semanal">Semanal</option>
                             <option value="Quincenal">Quincenal</option>
                             <option value="Mensual">Mensual</option>
                             <option value="Trimestral">Trimestral</option>
                           </select>
                        </div>

                        <div class="col-4">
                          <label for="inputAddress2" class="form-label text-black">Cuenta débito</label>
                          <input type="text" class="form-control" name="cuenta_debito" id="cuenta_debito" maxlength="50" placeholder="ingrese cuenta de débito">
                        </div>

                        <div class="col-4">
                          <label for="inputAddress2" class="form-label text-black">Cuenta crédito</label>
                          <input type="text" class="form-control" name="cuenta_credito" id="cuenta_credito" maxlength="50" placeholder="ingrese cuenta de crédito">
                        </div>
                        <div class="card-header mt-5 pt-3">
                          <h5>Número de afiliado CARNET</h5>
                      </div>
                            <div class="d-table">
                            <div class="row" id="afiliadoid">
                                                                                 

                          </div>
                          <div class="col-4 pt-4">
                            <button type="button" id="addid" class="btn btn-primary">Agregar Afiliado</button>
                              
                            </div>
                        </div>

                              <div class="card-header mt-5 pt-3">
                                <h5><strong>Sucursal - Personal responsable</strong></h5>
                            </div>
                            <div class="row mt-2" id="responsable">
                            <div class="col-md-12">
                              <label for="inputPassword4" class="form-label text-black">Nombre<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="nombre_persona" id="nombre_persona" maxlength="100" placeholder="Nombre y apellido" required>
                            </div>  

                            <div class="col-md-4 mt-2">
                              <label for="inputPassword4" class="form-label text-black">Cargo<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="cargo" id="cargo" maxlength="100" placeholder="Cargo que Ocupa" required>
                            </div> 

                            <div class="col-md-4 mt-2 d-none">
                              <label for="inputPassword4" class="form-label text-black">Cédula</label>
                              <input type="text" class="form-control" name="cedula" id="cedula" maxlength="50" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="000-0000000-0">
                            </div> 

                            <div class="col-md-4 mt-2">
                              <label for="inputPassword4" class="form-label text-black">Celular<strong style="color: red;">*</strong></label>
                              <input type="text" class="form-control" name="tel_persona" id="tel_persona" maxlength="15" onkeypress="handleMask(event, '999-999-9999')" size=13  placeholder="000-000-0000" required>
                            </div> 

                            <div class="col-md-4 mt-2">
                              <label for="inputPassword4" class="form-label text-black">Correo</label>
                              <input type="email" class="form-control" name="email_persona" id="email_persona" maxlength="100" placeholder="ingrese correo">
                            </div> 

                            </div>

                            <div class="col-4 pt-4">
                              <button id="responsableBtn" class="btn btn-primary">Agregar responsable</button>
                              
                            </div>


                              
                         
                               <div class="col-12 pt-5">
                                 <button type="submit" class="btn btn-primary">GUARDAR</button>
                               </div>

                             </form>
                           </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



<script >

const funcionInit = () => {
  // alert('entrando...')
	if (!"geolocation" in navigator) {
		return alert("Tu navegador no soporta el acceso a la ubicación. Intenta con otro");
	}

	onUbicacionConcedida = ubicacion => {
		console.log("Tengo la ubicación: ", ubicacion);
		const coordenadas = ubicacion.coords;
    
    var date = new Date(ubicacion.timestamp).toLocaleString(); // create Date object console">console.log(date.toString());
    console.log(date) 
    let newubi = confirm("¿Deseas cambiar la ubicación?");
    if(newubi){
      document.querySelector("#geo").value = coordenadas.latitude+","+coordenadas.longitude;
    document.querySelector("#geo").setAttribute("readonly", "true");
    }
		
		// $longitud.innerText = coordenadas.longitude;
		// $enlace.href = `https://www.google.com/maps/@${coordenadas.latitude},${coordenadas.longitude},20z`;
	}
	const onErrorDeUbicacion = err => {
    alert("Error obteniendo ubicación: " + err.message)
	}

	const opcionesDeSolicitud = {
		enableHighAccuracy: true, // Alta precisión
		maximumAge: 0, // No queremos caché
		timeout: 5000 // Esperar solo 5 segundos
	};

	// document.querySelector("#geo").value = "Cargando...";
	navigator.geolocation.getCurrentPosition(onUbicacionConcedida, onErrorDeUbicacion, opcionesDeSolicitud);

};

function handleNacionalidad() {
  console.log("ID: ");
  
  $.get("/empleado", function (data) {
      var municipios = data.municipios;

  });

}

function handleSubZonas(e) {
  console.log("ID: ", e.target.value);

  $.get("/form_data/subzonas/" + e.target.value, function (data) {
      console.log(data)
      var subzona = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=''>Seleccione</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_subzona+">"+data[i].subzona+"</option>";
              // console.log(data[i]);                    
        }

      var elementSubZona = document.getElementById("subzona");
      elementSubZona.innerHTML = html;
      
  });
}

function handleProvincia(e) {
  console.log("ID: ", e.target.value);

  $.get("/form-data/municipios?provincia=" + e.target.value, function (data) {
      var municipios = data.municipios;

     console.log(municipios)
  });
}

function handleCodigoPostal(e) {

  $.get("/form_data/codigo_postal/" + e.target.value, function (data) {
      // console.log(data[0])
     
      var elementCodigoPostal = document.getElementById("codigo_postal");
      elementCodigoPostal.value = data[0].codigo_postal;
  });
}

function handleMunicipio(e) {
  console.log("ID: ", e.target.value);

  $.get("/form_data/municipio/" + e.target.value, function (data) {
      console.log(data)
      var municipio = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=0>Seleccione el municipio</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_municipio+">"+data[i].municipio+"</option>";
              console.log(data[i]);                    
        }

      var elementMunicipio = document.getElementById("municipio");
      elementMunicipio.innerHTML = html;


      
  });
}


function handleSector(e) {
  //console.log("ID: ", e.target.value);

  $.get("/form_data/sector/" + e.target.value, function (data) {
      //console.log(data)
      var sector = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=0>Seleccione el sector</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_sector+">"+data[i].sector+"</option>";
              //console.log(data[i]);                    
        }

      var elementSector = document.getElementById("sector");
      elementSector.innerHTML = html;


      
  });
}

function handleEncargado(e) { // el id que llega es el id del departamento
  console.log("ID: ", e.target.value);

  $.get("/form_data/encargado/" + e.target.value, function (data) {
      //console.log(data)
      var sector = data;  // FALTA RENDERIZAR LOS DATOS EN EL SELECT
      var html = "";
      html +="<option value=0>Seleccione el encargado</option>";
      for(var i =0;i < data.length;i++){ 
              html +="<option value="+data[i].id_empleado+">"+data[i].nombres+" "+data[i].apellidos+"</option>";
              //console.log(data[i]);                    
        }

      var elementEncargado = document.getElementById("encargado");
      elementEncargado.innerHTML = html;
      
  });
}

function fechaActual(){
  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  return  day + "/" + month + "/" + year;
  
}

function handleMask(event, mask) {
    with (event) {
        stopPropagation()
        preventDefault()
        if (!charCode) return
        var c = String.fromCharCode(charCode)
        if (c.match(/\D/)) return
        with (target) {
            var val = value.substring(0, selectionStart) + c + value.substr(selectionEnd)
            var pos = selectionStart + 1
        }
    }
    var nan = count(val, /\D/, pos) // nan va calcolato prima di eliminare i separatori
    val = val.replace(/\D/g,'')

    var mask = mask.match(/^(\D*)(.+9)(\D*)$/)
    if (!mask) return // meglio exception?
    if (val.length > count(mask[2], /9/)) return

    for (var txt='', im=0, iv=0; im<mask[2].length && iv<val.length; im+=1) {
        var c = mask[2].charAt(im)
        txt += c.match(/\D/) ? c : val.charAt(iv++)
    }

    with (event.target) {
        value = mask[1] + txt + mask[3]
        selectionStart = selectionEnd = pos + (pos==1 ? mask[1].length : count(value, /\D/, pos) - nan)
    }

    function count(str, c, e) {
        e = e || str.length
        for (var n=0, i=0; i<e; i+=1) if (str.charAt(i).match(c)) n+=1
        return n
    }
}

document.getElementById("addid").click = function(e) {
    console.log("pongo id");
  };

  function eliminar_elemento(e){
    let del = confirm("¿Deseas eliminar éste afiliado?");
    if(del){
      e.parentNode.parentNode.removeChild(e.parentNode);
      // e.remove();
    }
}
function eliminar_producto(e){
    let del = confirm("¿Deseas eliminar éste producto?");
    if(del){
      e.parentNode.parentNode.removeChild(e.parentNode);
      // e.remove();
    }
}
window.addEventListener('load', function() {
  // funcionInit()
  // $(":input").inputmask();
  //const nacionalidad = document.getElementById("nacionalidad");
  //$("#fecha").val(fechaActual());name="fecha" id="fecha"
  document.getElementById("fecha").value = new Date().toLocaleDateString();
  document.getElementById("fech").innerHTML = "Fecha: " + new Date().toLocaleDateString();
  
  if(document.getElementById("zona")){
      document.getElementById("zona").onchange = function(e) {
        handleSubZonas(e);
      };
    }

  if(document.getElementById("provincia")){
  document.getElementById("provincia").onchange = function(e) {
    handleMunicipio(e);
    handleCodigoPostal(e);
  };
}
  if(document.getElementById("municipio")){
  document.getElementById("municipio").onchange = function(e) {
    handleSector(e);
  };
}

// let prod = document.getElementById("proid"); // producto id
// prod.onclick = productoAdd; // Agrega función onclick al elemento
    
  function productoAdd(evento) {
    evento.preventDefault();
    
    let boton = `<div class="col-4 pt-2 delete">
      <a onclick="eliminar_producto(this);">&times;</a>
      <label for="inputAddre" class="form-label text-black">Producto</label>
      <div class="col-md-12">
                              <select class="form-control" name="producto" id="producto" required>
                                <option value="0">Seleccione</option>
                               
                                <% if(prod) {%>
                                  <% for(var i =0;i < prod.length;i++){ %>
                                    <option value="<%= prod[i].id_producto %>"><%= prod[i].producto %></option>
                                     
                                   <% } %>
                                  <% } %>
                                 
                               </select>
                            </div>
      
      </div>`;
    
    document.getElementById('productoid').insertAdjacentHTML("beforeend",boton); 
    //alert("Evento onclick ejecutado!"+evento);
  }
  
  let p = document.getElementById("addid"); // Encuentra el elemento "p" en el sitio
  p.onclick = afiliadoAdd; // Agrega función onclick al elemento
    
  function afiliadoAdd(evento) {
    evento.preventDefault();
    
    let boton = '<div class="col-2 pt-2 delete"><a onclick="eliminar_elemento(this);">&times;</a><label for="inputAddress2" class="form-label text-black">Afiliado</label><input type="number" class="form-control" name="afiliado" id="afiliado" placeholder="0" required></li></div>';
    document.getElementById('afiliadoid').insertAdjacentHTML("beforeend",boton); 
    //alert("Evento onclick ejecutado!"+evento);
  }

  let pr = document.getElementById("responsableBtn"); // Encuentra el elemento "p" en el sitio
  pr.onclick = agregaResponsable; // Agrega función onclick al elemento
    
  function agregaResponsable(evento) {
    evento.preventDefault();
    // alert('funciona')   
    html ='<div class="row"><div class="card-header mt-5">';
    html +='<h5>Sucursal - Personal Responsable</h5> ';
    html +='</div><a class="text-end" onclick="eliminar_elemento(this);">X</a>';
    html +='<div class="col-md-12 col-md-4 ">';
    html +='<label for="inputPassword4" class="form-label text-black">Nombre</label>';
    html +='<input type="text" class="form-control" name="nombre_persona" id="nombre_persona" placeholder="Nombre y apellido">';
    html +='</div>';  

    html +='<div class="col-md-4 mt-2">';
      html +='<label for="inputPassword4" class="form-label text-black">Cargo</label>';
      html +='<input type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo que Ocupa">';
      html +='</div> ';

      html +='<div class="col-md-4 mt-2 d-none">';
        html +='<label for="inputPassword4" class="form-label text-black">Cédula</label>';
        html +='<input type="text" class="form-control" name="cedula" id="cedula" onkeypress="handleMask(event, "999-999-9999")" size=13  placeholder="000-0000000-0">';
        html +='</div> ';

        html +='<div class="col-md-4 mt-2">';
          html +='<label for="inputPassword4" class="form-label text-black">Celular</label>';
          html +='<input type="text" class="form-control" name="tel_persona" id="tel_persona" onkeypress="handleMask(event, "999-999-9999")" size=13  placeholder="000-000-0000">';
          html +='</div> ';

          html +='<div class="col-md-4 mt-2">';
            html +='<label for="inputPassword4" class="form-label text-black">Correo</label>';
            html +='<input type="email" class="form-control" name="email_persona" id="email_persona" placeholder="ingrese correo">';
            html +='</div> </div>';

    document.getElementById('responsable').insertAdjacentHTML("beforeend",html);
    //alert("Evento onclick ejecutado!"+evento);
  }

  

});
</script>



<%- include('partials/_footer') %>